.idea/
.DS_Store
.vscode

.mypy_cache
*.egg-info
*.eggs

__pycache__

dist

env.sh
bioinfo.sh
dockerfiles


run_local.sh

# every own
src/biodemo_python/patch.py
src/biodemo_python/archsdk

src/biodemo_python/web_app_local.py
src/biodemo_python/patch_local.py

